<%= stylesheet_link_tag 'buttons', :plugin => 'redmine_omniauth_gitlab' %>

<% if Setting.plugin_redmine_omniauth_gitlab['oauth_authentification'] %>
  <div id="login-form">
    <%= link_to oauth_gitlab_path(:back_url => back_url) do %>
      <input type="submit" name="login-via-gitlab" value="<%=l(:login_via_gitlab)%> &#187;" tabindex="6" style="width: 100%"/>
    <% end %>
  </div>
<% end %>
